@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
*{
	font-family: 'Roboto Slab', Helvetica, serif;
	background-color: #d5d5d5;
	font-weight: 300;
	font-size: 24px;
}
p{
	margin:auto;
	width: 600px;
	border:1px solid black;
	padding: 50px;

}

#linetext {
	text-decoration:underline
}

#bold {
	font-weight:bold
}
#colored {
	color:#cc0033
}
#caps {
	text-transform:uppercase
}

#zach {
	text-decoration:line-through
}

#obvodka {
	border:2px solid red;
}