@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
*{
	font-family: 'Roboto Slab', Helvetica, serif;
	background-color: #d5d5d5;
	font-weight: 700;
	color: white;
}


.col-md-12 h1{
	background-color: blue;
 	text-align: center;
}
img{
	width: 150px;
	height: auto;
}
.table table {
	margin:auto;
	width: 500px;
	border: 1px solid red
}
.table tr, td { 

	padding: 5px;
    border: 1px solid red;
}
 